

#home{
    background: red;
    max-width: 300px;    
    
}

/* .h1{
    
    color: red;
} */


#shade1{
    
    max-width: 300px;    
}




#hero{
    
    max-width: 300px;    
    background: red;
    
}





#image_wrapper1o1 > #img{
    
    background: red;
    max-width: 300px;
    
}
